<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meu Projeto</title>
  
  </head>
 <body class="d-flex bg-light justify-content-center p-5">

    <!-- Card -->
    <div class="bg-white d-flex justify-content-center align-items-center border border-2 border-secondary rounded-4" style="width: 40rem; height: 30rem;">
      <!-- Header -->
      <div class="fs-3">
        logar
      </div>
    </div>

</body>
</html>
